html {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
th {
  text-align: left;
}

.navbar h1 {
  background-color: black;
  color: white;
  margin:0;
  padding: 20px;
}

h1 a:hover {
  color: red;
}

.header_links li, a, ul{
  display: inline;
  text-decoration: none;
  margin-top: 0;
  padding-top: 0;
  background: black;
  width: auto;
  color: white;
}

.navbar a {
    text-decoration: none;
    color: white;
}