<center><h1>Here, we create fabulousness.</h1>


<img src="http://aboutyourdress.files.wordpress.com/2012/01/joanna_lumley_abfab.jpg" </img>

<p><br></p>

<form action = "/create_note" method="POST">
  Drunken Titling: <input type="text" name="title"><br>
<p><br></p>
  Blog Away, Dahling:<br> 
  <textarea name="content" rows="10" cols="50"></textarea>
  <p><br></p>

<input type="submit" value="Publish my fabulousness.">
</form>
  <p><br></p>


<a href="/">Take me home, I'm drunk</a>
</center>