<html>
  <head>
    </head>

    <body>



<center><img src="http://images2.fanpop.com/images/photos/7200000/Ab-Fab-absolutely-fabulous-7217491-1024-768.jpg" style="height:450px"></center>

  <% if @notpass %>
  <%= @notpass %> <br>
  <% end  %>

  <% if session[:id] == nil %>
  <h2>Returning sweetie dahlings:</h2>

  <form action="/login" method="POST">
    <label for="username"> User Name </label>
    <input id="username" type="text" name="username"><br>
    <label for="password"> Password </label>
    <input id="password" type="text" name="password"> <br>
    <input type="submit" value="log in">
  </form>
  <% end %>


<% if session[:id] == nil %>
  <h2>New sweetie dahlings:</h2>

  <form action="/signup" method="POST">
    <label for="username"> User Name </label>
    <input id="username" type="text" name="username"><br>
    <label for="password"> Password </label>
    <input id="password" type="text" name="password"> <br>
    <label for="password"> Confirm Password </label>
    <input id="password" type="text" name="confirm_password"> <br>    
    <input type="submit" value="log in">
  </form>
  <% end %>



</body>
</div>
</html>
