<h1>Sweetie, daaaaahling, you look maaaahvalous!</h1>

<img src=" http://static.tumblr.com/jg3kvp6/W4Zlp0psx/ab-fab-absolutely-fabulous-7217629-448-336.jpg"</img>

<h2> you are my fashion icon.</h2>

<h3>Fabulousness, defined:</h3>

